@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
* {
    margin: 0;
    padding: 0;
    font-family: "Euclid Circular A", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(/Resources/Forest.jpg);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2dvw;
    padding-bottom: 5dvh;
    position: relative;
    width: 30rem;
    height: -moz-max-content;
    height: max-content;
    background: inherit;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
main label {
    text-shadow: black 2px 2px 2px;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 600;
}
main::after {
    content: "";
    height: 100%;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
    z-index: -1;
}

#Cargando {
    position: relative;
    bottom: 0;
    left: 0;
    width: clamp(15rem, 25vw, 25rem);
    opacity: 1;
}
