$ColorLightGrey: #F3F6FD;
$ColorWhite: #FFFFFF;
$ColorGrey:#D9D9D9;

$ColorBlackGrey: #37383a;
$ColorBlack: #222222;
$Black: #000000;

@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
@import "https://unpkg.com/open-props/buttons.min.css" layer(demo.support);

input {
    outline: none;
    border: none;
}

*, :after, :before {
    box-sizing: content-box;
}

:where(html) {
    --surface-1: 0;
}

:where(body) {
    min-block-size:0%;
}

body {
    background: #F3F6FD;
    background-attachment: fixed;
    background-size: cover;
    margin:15px;
}
    
.dashboard-background {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    background: #F3F6FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.boxes {
    left: 28%;
    top: 45%;
    --size:3rem;
    --duration:800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    z-index: 2;

.boxer {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;

    &:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
    }

    &:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
    }

    &:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
    }

    &:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
    }

    > div {
    --background:#6EB8AB;
    --top:auto;
    --right:auto;
    --bottom:auto;
    --left:auto;
    --translateZ:calc(var(--size) / 2);
    --rotateY:0deg;
    --rotateX:0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));

    &:nth-child(1) {
        --top:0;
        --left:0;
    }

    &:nth-child(2) {
        --background:#4e8178;
        --right:0;
        --rotateY:90deg;
    }

    &:nth-child(3) {
        --background:#58948a;
        --rotateX:-90deg;
    }
    }
}
}

#Loading {
left: 35%;
top: 70%;
z-index: 2;
position: absolute;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: bold;
font-size: 1.5rem;
color: #fcfbfb;
}

@-webkit-keyframes box1 {
0%, 50% {
    transform: translate(100%, 0);
}

100% {
    transform: translate(200%, 0);
}
}

@keyframes box1 {
0%, 50% {
    transform: translate(100%, 0);
}

100% {
    transform: translate(200%, 0);
}
}

@-webkit-keyframes box2 {
0% {
    transform: translate(0, 100%);
}

50% {
    transform: translate(0, 0);
}

100% {
    transform: translate(100%, 0);
}
}

@keyframes box2 {
0% {
    transform: translate(0, 100%);
}

50% {
    transform: translate(0, 0);
}

100% {
    transform: translate(100%, 0);
}
}

@-webkit-keyframes box3 {
0%, 50% {
    transform: translate(100%, 100%);
}

100% {
    transform: translate(0, 100%);
}
}

@keyframes box3 {
0%, 50% {
    transform: translate(100%, 100%);
}

100% {
    transform: translate(0, 100%);
}
}

@-webkit-keyframes box4 {
0% {
    transform: translate(200%, 0);
}

50% {
    transform: translate(200%, 100%);
}

100% {
    transform: translate(100%, 100%);
}
}


@keyframes box4 {
0% {
    transform: translate(200%, 0);
}

50% {
    transform: translate(200%, 100%);
}

100% {
    transform: translate(100%, 100%);
}
}

@keyframes animate {
0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
}

100% {
    transform: scale(1.3) translate(-90px) rotate(360deg);
    opacity: 0;
}
}

.card {
z-index: 2;
width: 20rem;
height: 15rem;
background: #07182E;
position: relative;
display: flex;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
border-radius: 20px;

&::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(0, 79, 248));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

&::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}
}

@keyframes rotBGimg {
from {
    transform: rotate(0deg);
}

to {
    transform: rotate(360deg);
}
}

.overlay {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

/* Form */
.form-box{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    position: fixed;
    opacity: 0;
    top: 20%;
    left: 70%;
    transition: opacity 0.3s ease-in-out;
    pointer-events: auto;

    .form { 
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 32px 24px 24px;
        gap: 16px;
        text-align: center;
    
        .form-container {
            overflow: hidden;
            border-radius: 8px;
            background-color: #fff;
            margin: 1rem 0 .5rem;
            width: 100%;
        }
        
        button {
            transition: box-shadow 0.5s ease-in-out;
        }
    
        button:hover{
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.5s ease-in-out;
        }
    
        .title {
            font-weight: bold;
            font-size: 1.6rem;
        }
    
        .subtitle {
            font-size: 1rem;
            color: #666;
        }
            
    }
}



.deletion-box{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    max-width: 150px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    button {
        transition: box-shadow 0.5s ease-in-out;
    }

    button:hover{
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.5s ease-in-out;
    }

    .title {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .subtitle {
        font-size: 0.8rem;
        color: #666;
    }   

    .cancelButton {
        border-radius: 1.5rem;
        padding: 7px 12px;
        font-size: 1rem;
    }

    .rethinkButton {
        border-radius: 1.5rem;
        padding: 7px 12px;
        font-size: 1rem;
    }
}

.modify-box{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    max-width: 250px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    position: fixed;
    opacity: 0;
    top: 20%;
    left: 70%;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    .form { 
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 32px 24px 24px;
        gap: 16px;
        text-align: center;
    
        .form-container {
            overflow: hidden;
            border-radius: 8px;
            background-color: #fff;
            margin: 1rem 0 .5rem;
            width: 100%;
        }
        
        button {
            transition: box-shadow 0.5s ease-in-out;
        }
    
        button:hover{
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.5s ease-in-out;
        }
    
        .title {
            font-weight: bold;
            font-size: 1.4rem;
        }
    
        .subtitle {
            font-size: 0.9rem;
            color: #666;
        }
            
    }
}



.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.AddWidgetOptions {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
}

/*Button*/
.cancelButton, .cancelModify {
    background-color: #ff3232;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    box-shadow: none;
}

.acceptButton {
    background-color: #2fb905;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    box-shadow: none;
}

.rethinkButton,.acceptModify {
    background-color: #0520b9;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.moon {
background: url('Resources/Moon\ and\ Stars.png') (50% / cover) no-repeat;
margin: 0.3rem 0.2rem 0.2rem 0;
width: 2.2rem;
height: 2.2rem;
}

.bell {
background: url('Resources/Doorbell.png') (50% / cover) no-repeat;
margin: 0.3rem 0.6rem 0.2rem 0;
width: 2.2rem;
height: 2.2rem;
}

.username {
margin: 0.8rem 0;
display: inline-block;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 0.9rem;
color: #000000;
}

.username-image {
margin-left: 0.5rem;
margin-right: 0.5rem;
box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
border-radius: 1.3rem;
background: #D9D9D9;
width: 2.6rem;
height: 2.6rem;
}

.msgUser {
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    border-radius: 1.3rem;
    justify-self: center;
    background: #D9D9D9;
    width: 2.6rem;
    height: 2.6rem;
}

.messages {
height: 80%;
border-bottom:1px solid $ColorGrey;
display: flex;
align-self: center;
justify-content: center;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 600;
font-size: 1.3rem;
color: #000000;
}

.actualDate {
margin-bottom: 0.3rem;
white-space: nowrap;
display: inline-block;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 1.3rem;
color: #000000;
}

.projects {
margin-right: 0.9rem;
width: 39.8rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 600;
font-size: 1.5rem;
color: #000000;
}

.ipCounter, .upCounter, .totalCounter {
margin-bottom: 0.3rem;
display: inline-block;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 1.3rem;
color: #000000;
}

.in-progress, .up-coming, .total {
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1rem;
color: #000000;
}

.widget {
    border-radius: 1.9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0.1rem 0rem 0rem;
    box-sizing: border-box;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    overflow:auto;
}

.interWidgetDate {
    position: relative;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    right: 5%;
    top:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 13rem;
    box-sizing: border-box;
}
    
.IWDLeft {
    margin: 0.2rem 1rem 0 0;
    display: inline-block;
    width: 11.8rem;
    overflow-wrap: break-word;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    font-weight: 300;
    font-size: 0.8rem;
    text-align: end;
    color: #787878;
}

.IWDRight {
    background: url('Resources/Trash.png') (50% / cover) no-repeat;
    width: 0.8rem;
    height: 1.2rem;
    padding: 0.1rem;
}

.IWDRight2 {
    background:url('Resources/Edit.png')(50% / cover) no-repeat;
    width: 1.3rem;
    height: 1.2rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.changeGrid {
background: url('Resources/Health\ Data.png') (50% / cover) no-repeat;
width: 1.6rem;
height: 1.9rem;
}

.addTable {
background: url('Resources/Plus.png') (50% / cover) no-repeat;
margin-right: 1.1rem;
width: 1.9rem;
height: 1.9rem;
}

.msgName {
margin-left: 3%;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 0.8rem;
color: #000000;
}

.msgDesc {
    margin-left: 3%;
margin-right: 0.9rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 0.6rem;
color: #888787;
}

.christmas-star-1 {
background: url('Resources/Christmas\ Star.png') (50% / cover) no-repeat;
width: 0.9rem;
height: 0.9rem;
}

.msgDate {
    display: flex;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
justify-content:flex-end;
font-weight: 300;
font-size: 0.6rem;
color: #888787;
}

.topBar {
padding-bottom: 1.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
box-sizing: border-box;
}

.lowWidgetRight {
border-radius: 5.6rem;
background: #F1FBFE;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
padding: 0.3rem 0.9rem;
box-sizing: border-box;
}

.botContent {
display: flex;
flex-direction: row;
column-gap: 1.7rem;
height: 90%;
width: 100%;
box-sizing: border-box;
}

.NameDate {
margin: 0 0.3rem 1.8rem 0.9rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 95%;
box-sizing: border-box;
}

.UserBox {
margin: 0.1rem 5% 0.3rem 0;
display: flex;
flex-direction: row;
box-sizing: border-box;
}

.dashboard {
margin: 1rem 2.5rem 0.7rem 0;
display: inline-block;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 700;
font-size: 1.5rem;
color: #000000;
}

.SearchBox {
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    border-radius: 2.8rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 1.3rem 0.6rem 1.4rem;
    width: 26.2rem;
    height: 3.5rem;
    box-sizing: border-box;
    color: $Black;
    transition: background-color 0.3s ease;

    &:hover {
    background-color: $ColorGrey;

    .search {
        background-color: $ColorGrey;
    }
    }
}

.search {
    margin: 0.1rem 0.7rem 0.3rem 0;
    display: inline-block;
    width: 20.9rem;
    overflow-wrap: break-word;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    font-weight: 300;
    font-size: 1.3rem;
    background-color: $ColorWhite;
    transition: background-color 0.3s ease;
}

.search-image {
background: url('/Resources/Search.png') (50% / cover) no-repeat;
width: 1.9rem;
height: 1.9rem;
}

.data-layout {
border-radius: 2.8rem;
background: #FFFFFF;
display: flex;
flex-direction: column;
align-items: center;
padding: 1.9rem 3.1rem 3rem 2.2rem;
margin-left: 6.5rem;
width: 70%;
height: 80vh;
box-sizing: border-box;
}

.dataGrid {
    width: 100% !important;
    height: 100% !important;
}

@layer demo {
    .widget{
    container: perfect-bento / size;
    }
    
    .always-great-grid {
    &:has(> :last-child:nth-child(3)) > :first-child {
        grid-column: span 2;
    }
    
    &:has(> :last-child:nth-child(4)) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    &:has(> :last-child:nth-child(5)) > :first-child {
        grid-column: span 2;
    }
    
    &:has(> :last-child:nth-child(6)) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    &:has(> :last-child:nth-child(7)) > :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    &:has(> :last-child:nth-child(8)) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    &:has(> :last-child:nth-child(9)) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    &:has(> :last-child:nth-child(10)) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    &:has(> :last-child:nth-child(11)) > :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    &:has(> :last-child:nth-child(12)) {
        grid-template-columns: repeat(4, 1fr);
    }
    }
}
    
    
@layer demo.transitions {
::view-transition {
pointer-events: none;
}

:root {
view-transition-name: none;
}

::view-transition-group(*) {
animation-timing-function: var(--ease-squish-1);
animation-timing-function: var(--ease-spring-2);
animation-duration: 0.75s;
}

::view-transition-old(*),
::view-transition-new(*) {
height: 100%;
width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
::view-transition-new(*):only-child {
    animation: var(--animation-slide-in-up) forwards,
    var(--animation-fade-in) forwards;
    animation-timing-function: var(--ease-squish-1);
    animation-timing-function: var(--ease-spring-2);
}

::view-transition-old(*):only-child {
    animation: var(--animation-slide-out-down) forwards,
    var(--animation-fade-out) forwards;
}
}
}

@layer demo.support {
.always-great-grid {
display: grid;
gap: var(--size-3);
padding: var(--size-3);
}

.dataGrid {
overflow: hidden;
resize: both;

display: grid;
block-size: min(var(--size-content-2), 50vw);
inline-size: min(var(--size-content-2), 50vw);
border: 0px solid var(--surface-3);
}
}

.gmail-layout {
position: relative;
display: grid;
grid-template-columns: 20% 80%;
height: 10%;
padding-top: 5%;
padding-bottom: 5%;
}

.menu-image {
position: relative;
background: url('Resources/Menu.png');;
background-size: cover;
bottom: 0.3rem;
margin: 1rem 2.8rem 0.4rem 0;
width: 2.5rem;
height: 2.5rem;
}

.navbar-layout {
    display: grid;
    grid-template-rows:repeat(5,auto);
    padding: 1rem;
    position: fixed;
    border-radius: 1.3rem;
    background: #FFFFFF;
    margin: 1.1rem 0 1.3rem 0;
    width: 3rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.navImg {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #34a2fc;
        img{
            filter: invert(1);
        }
    }
    
    img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
    }
}

.tooltip {
    position: absolute;
    transform: translateX(-50%);
    font-family: 'Bahnschrift', 'Roboto Condensed';
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: $ColorLightGrey;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62);
    width: auto;
    padding: 8px;
    color: #000000;
    font-size: 1rem;
    left: 70%;
}

.navImg:hover .tooltip {
    left: 150%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.dataT {
margin: 0.1rem 0;
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}

.GmailBox {
    border-radius: 2.8rem;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    width: 20%;
    height: 35rem;
}

.projectCounter {
white-space: nowrap;
margin: 0 2rem 1rem 1.7rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 95%;
box-sizing: border-box;
}

.dataUP {
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}

.lowWidgetLeft {
margin-bottom: 0.1rem;
display: flex;
flex-direction: row;
column-gap: 0.1rem;
width: 3.4rem;
height: fit-content;
box-sizing: border-box;
}

.Message {
display: grid;
grid-template-rows: 20% 70% 10%;
align-items: center;
box-sizing: border-box;
}

.Fav {
    display: grid;
grid-template-rows: 20% 80%;
align-items: center;
box-sizing: border-box;
}

.nameStar {
display: flex;
justify-content: space-between;
}

.dataIP {
margin-bottom: 0.1rem;
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}

.leftTopBar {
position:relative;
left: 1.5rem;
display: flex;
flex-direction: row;
box-sizing: border-box;
}

.midWidget {
position: relative;
margin: 0 0.6rem 0.3rem 0.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 12.6rem;
box-sizing: border-box;
}

.displayImages {
margin-bottom: 1.2rem;
display: flex;
flex-direction: row;
width: 4.5rem;
height: fit-content;
box-sizing: border-box;
}

.lowWidget {
position: relative;
margin: 0 0.4rem 0 0.3rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 13.1rem;
box-sizing: border-box;
}

.widgetTitle {
position: relative;
margin-bottom: 0.2rem;
display: inline-block;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 0.8rem;
color: #787878;
}

.widgetMsg {
    position: relative;
    margin-bottom: 1.4rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Bahnschrift', 'Roboto Condensed';
    font-weight: 300;
    font-size: 0.8rem;
    color: #787878;
}

.widgetProg {
margin-right: 0.4rem;
width: 11.3rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 400;
font-size: 0.6rem;
color: #787878;
}

.lowmidWidget {
    border-radius: 0.4rem;
    background: #FFFFFF;
    position: relative;
    margin: 0 0.3rem 1.4rem 0.4rem;
    width: 13.1rem;
    height: 0.3rem;
    box-sizing: border-box;
}

.progressBar {
    border-radius: 0.4rem;
    background: #093586;
    width: 0%;
    height: 0.3rem;
}

.widgetPerc {
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 0.6rem;
color: #787878;
}

.widgetDays {
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 700;
font-size: 0.5rem;
color: #096C86;
}

.username-image-102, .username-image-103 {
border-radius: 0.5rem;
background: #D9D9D9;
width: 1.1rem;
height: 1.1rem;
}

.username-image-104 {
position: relative;
width: 1rem;
height: 1.1rem;
}

.counters {
margin-top: 0.1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 30%;;
height: fit-content;
box-sizing: border-box;
}
