body {
background: linear-gradient(90deg, #028DAC 0%, #0055A3 75.89%, #02315B 99.2%);
display: flex;
flex-direction: row;
justify-content: center;
padding: 5.1rem 7.4rem 5.8rem 7.4rem;
width: 86rem;
box-sizing: border-box;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.login-layout {
border-radius: 2.8rem;
border: 0.2rem solid #D8D8D8;
background: #FFFFFF;
position: absolute;
width: 71.3rem;
height: 37.2rem;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

&::after {
    filter: blur(10.3rem);
}
}

.welcome-back {
position: absolute;
left: 5.1rem;
top: 5.5rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.5rem;
color: #000000;
}

.log-in {
position: absolute;
left: 5rem;
top: 6.5rem;
overflow-wrap: break-word;
font-family: 'Verdana';
font-weight: Bold;
font-size: 4rem;
color: #000000;
}

.email {
position: absolute;
left: 5.1rem;
top: 15rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.5rem;
color: #000000;
}

.email-text-box {
border: none;
border-radius: 0.3rem;
background: #7CD0C1;
position: absolute;
left: 5.1rem;
top: 50%;
translate: 0 -50%;
width: 26.3rem;
height: 2.3rem;
}

.password {
position: absolute;
left: 5.1rem;
top: 21rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.5rem;
color: #000000;
}

.forgot-password {
position: absolute;
left: 21rem;
top: 21.5rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.3rem;
color: rgba(0, 0, 0, 0.5);
}

.password-text-box {
border: none;
border-radius: 0.3rem;
background: #7CD0C1;
position: absolute;
left: 5.1rem;
top: 23.5rem;
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 0.3rem 0.8rem;
width: 26.6rem;
height: 2.3rem;
box-sizing: border-box;
}

.invisible-1 {
border: none;
background: url('Resources/Invisible.png') (30% / cover) no-repeat;
position: absolute;
left: 29rem;
top: 23.8rem;
opacity: 0.5;
width: 1.8rem;
height: 1.8rem;
}

.problems {
position: absolute;
left: 11rem;
bottom: 2rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.3rem;
color: rgba(0, 0, 0, 0.5);
}

.request-help {
position: absolute;
left: 17.5rem;
bottom: 2rem;
overflow-wrap: break-word;
font-family: 'Bahnschrift', 'Roboto Condensed';
font-weight: 300;
font-size: 1.3rem;
color: #6EB8AB;
}

.login-right-frame {
filter: blur(0.1rem);
border-radius: 2.8rem;
background: #6EB8AB;
position: absolute;
right: -3px;
top: -3px;
width: 25.3rem;
height: 37.8rem;
}

.image-1 {
/* filter: drop-shadow(16px 7px 8px #000); */
background-image: url(Resources/LogoTEC.png);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
z-index: 1;
top: 7%;
right: 1.5rem;
width: 33.4rem;
height: 32.7rem;
}

.box div {
position: absolute;
width: 60px;
height: 60px;
background-color: transparent;
border: 6px #000000 solid;
z-index: -1;

&:nth-child(1) {
    top: 8%;
    left: 40%;
    animation: animate 10s linear infinite;
}

&:nth-child(2) {
    top: 85%;
    left: 70%;
    animation: animate 7s linear infinite;
}

&:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

&:nth-child(4) {
    top: 10%;
    left: 95%;
    animation: animate 10s linear infinite;
}

&:nth-child(5) {
    top: 50%;
    left: 10%;
    animation: animate 6s linear infinite;
}

&:nth-child(6) {
    top: 85%;
    left: 70;
    animation: animate 12s linear infinite;
}

&:nth-child(7) {
    top: 80%;
    left: 95%;
    animation: animate 15s linear infinite;
}

&:nth-child(8) {
    top: 40%;
    left: 90%;
    animation: animate 16s linear infinite;
}

&:nth-child(9) {
    top: 80%;
    left: 15%;
    animation: animate 9s linear infinite;
}

&:nth-child(10) {
    top: 5%;
    left: 70%;
    animation: animate 10s linear infinite;
}

&:nth-child(11) {
    top: 5%;
    left: 90%;
    animation: animar 10s linear infinite;
}
}

.email-text-box:hover, .password-text-box:hover {
transition: all 0.3s ease-in-out;
background: #60a094;
}

.invisible-1:hover {
cursor: pointer;
transition: all 0.3s ease-in-out;
opacity: 1;
}

.request-help:hover, .forgot-password:hover {
cursor: pointer;
transition: all 0.3s ease-in-out;
color: #60a094;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .card {
        z-index: 2;
        width: 20rem;
        height: 15rem;
        background: #07182E;
        position: relative;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 20px;

        #Loading {
            left: 35%;
            top: 70%;
            z-index: 2;
            position: absolute;
            overflow-wrap: break-word;
            font-family: 'Bahnschrift', 'Roboto Condensed';
            font-weight: bold;
            font-size: 1.5rem;
            color: #fcfbfb;
            }
        
        &::before {
            content: '';
            position: absolute;
            width: 100px;
            background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(0, 79, 248));
            height: 130%;
            animation: rotBGimg 3s linear infinite;
            transition: all 0.2s linear;
        }
        
        &::after {
            content: '';
            position: absolute;
            background: #07182E;
            inset: 5px;
            border-radius: 15px;
        }
        }

        @keyframes rotBGimg {
            from {
                transform: rotate(0deg);
            }
            
            to {
                transform: rotate(360deg);
            }
            }

        .boxes {
            left: 28%;
            top: 45%;
            --size:3rem;
            --duration:800ms;
            height: calc(var(--size) * 2);
            width: calc(var(--size) * 3);
            position: relative;
            transform-style: preserve-3d;
            transform-origin: 50% 50%;
            margin-top: calc(var(--size) * 1.5 * -1);
            transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
            z-index: 2;
            
            .boxer {
                width: var(--size);
                height: var(--size);
                top: 0;
                left: 0;
                position: absolute;
                transform-style: preserve-3d;
            
                &:nth-child(1) {
                transform: translate(100%, 0);
                -webkit-animation: box1 var(--duration) linear infinite;
                animation: box1 var(--duration) linear infinite;
                }
            
                &:nth-child(2) {
                transform: translate(0, 100%);
                -webkit-animation: box2 var(--duration) linear infinite;
                animation: box2 var(--duration) linear infinite;
                }
            
                &:nth-child(3) {
                transform: translate(100%, 100%);
                -webkit-animation: box3 var(--duration) linear infinite;
                animation: box3 var(--duration) linear infinite;
                }
            
                &:nth-child(4) {
                transform: translate(200%, 0);
                -webkit-animation: box4 var(--duration) linear infinite;
                animation: box4 var(--duration) linear infinite;
                }
            
                > div {
                --background:#6EB8AB;
                --top:auto;
                --right:auto;
                --bottom:auto;
                --left:auto;
                --translateZ:calc(var(--size) / 2);
                --rotateY:0deg;
                --rotateX:0deg;
                position: absolute;
                width: 100%;
                height: 100%;
                background: var(--background);
                top: var(--top);
                right: var(--right);
                bottom: var(--bottom);
                left: var(--left);
                transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
            
                &:nth-child(1) {
                    --top:0;
                    --left:0;
                }
            
                &:nth-child(2) {
                    --background:#4e8178;
                    --right:0;
                    --rotateY:90deg;
                }
            
                &:nth-child(3) {
                    --background:#58948a;
                    --rotateX:-90deg;
                }
                }
            
                
                    
                    @-webkit-keyframes box1 {
                    0%, 50% {
                        transform: translate(100%, 0);
                    }
                    
                    100% {
                        transform: translate(200%, 0);
                    }
                    }
                    
                    @keyframes box1 {
                    0%, 50% {
                        transform: translate(100%, 0);
                    }
                    
                    100% {
                        transform: translate(200%, 0);
                    }
                    }
                    
                    @-webkit-keyframes box2 {
                    0% {
                        transform: translate(0, 100%);
                    }
                    
                    50% {
                        transform: translate(0, 0);
                    }
                    
                    100% {
                        transform: translate(100%, 0);
                    }
                    }
                    
                    @keyframes box2 {
                    0% {
                        transform: translate(0, 100%);
                    }
                    
                    50% {
                        transform: translate(0, 0);
                    }
                    
                    100% {
                        transform: translate(100%, 0);
                    }
                    }
                    
                    @-webkit-keyframes box3 {
                    0%, 50% {
                        transform: translate(100%, 100%);
                    }
                    
                    100% {
                        transform: translate(0, 100%);
                    }
                    }
                    
                    @keyframes box3 {
                    0%, 50% {
                        transform: translate(100%, 100%);
                    }
                    
                    100% {
                        transform: translate(0, 100%);
                    }
                    }
                    
                    @-webkit-keyframes box4 {
                    0% {
                        transform: translate(200%, 0);
                    }
                    
                    50% {
                        transform: translate(200%, 100%);
                    }
                    
                    100% {
                        transform: translate(100%, 100%);
                    }
                    }
                    
                    @keyframes box4 {
                    0% {
                        transform: translate(200%, 0);
                    }
                    
                    50% {
                        transform: translate(200%, 100%);
                    }
                    
                    100% {
                        transform: translate(100%, 100%);
                    }
                    }
                    
                    @keyframes animate {
                    0% {
                        transform: scale(0) translateY(0) rotate(0);
                        opacity: 1;
                    }
                    
                    100% {
                        transform: scale(1.3) translate(-90px) rotate(360deg);
                        opacity: 0;
                    }
                    }
                    
            }
            }
}
